/* animated fading circles for data loading effect */
.loadingBox {
  display: flex;
  flex-direction: row;
  gap: 4px;
  height: 10px;
  align-items: center;
}

.loadingCircle {
  background-color: #2f476a;
  border-radius: 50%;
  animation: fade 2s ease-in-out infinite;
}
@keyframes fade {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
    filter: blur(0.5px);
  }
  25% {
    width: 9px;
    height: 9px;
    opacity: 0.8;
    filter: blur(0.5px);
  }
  50% {
    width: 8px;
    height: 8px;
    opacity: 0.6;
    filter: blur(0.5px);
  }
  75% {
    width: 7px;
    height: 7px;
    opacity: 0.5;
    filter: blur(1px);
  }
  100% {
    width: 6px;
    height: 6px;
    opacity: 0.3;
    filter: blur(2px);
  }
}

/* button styles */
.okBtn,
.cancelBtn {
  color: #fff;
  border: none;
  font-weight: 600;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  text-transform: none;
  font-family: PoiterOne;
}

.okBtn {
  background: #bdc8af;
}

.cancelBtn {
  background: #ffb7b7;
}

.okBtn:hover:not(:disabled),
.cancelBtn:hover:not(:disabled) {
  filter: brightness(90%);
}

.okBtn:disabled,
.cancelBtn:disabled {
  background: rgba(124, 137, 147, 0.48);
  color: #97a3b4;
}

.lightBtn {
  min-width: 100px;
  height: 35px;
  color: var(--primary-color-dark);
  background: #ffffff;
  border-radius: 20px;
  border: none;
  text-transform: none;
  font-size: 16px;
  font-weight: 600;
  font-family: PoiterOne;
}

.lightBtn:hover {
  background: var(--primary-color-dark);
  color: #ffffff;
}

.colorBtn {
  min-width: 100px;
  height: 35px;
  color: #ffffff;
  background: #c6c5c8;
  border-radius: 20px;
  border: none;
  text-transform: none;
  font-size: 16px;
  font-weight: 600;
  font-family: PoiterOne;
}

.colorBtn:hover {
  background: #ffb7b7;
}

.editor {
  width: 100%;
}

.editor * {
  font-family: "PoiterOne";
  color: var(--primary-color-dark) !important;
}

.editor > div > div:first-child {
  background: #58737d50;
}

.editor > div > div:last-child {
  padding: 25px 30px;
  background: white;
  max-height: 120px;
  overflow: overlay;
}

/** date picker styles **/

.calendar .MuiIconButton-root {
  margin-right: 0;
}
