.gridBox {
  width: 100%;
  height: 100%;
  padding-right: 12px;
  max-height: calc(100vh - 255px);
  overflow: overlay;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: max-content max-content max-content;
}

.col {
  height: 100%;
  width: 100%;
}

.gridBox > div {
  background-color: #ffffff70;
  border-radius: 5px;
  padding: 20px;
}

.gridBox > div:hover {
  background-color: #ffffff;
}

.quote {
  min-height: 200px;
  display: flex;
  align-items: flex-start;
}
.quote p {
  text-align: end;
  font-size: 20px;
}
