.main {
  display: flex;
  flex-direction: column;
  padding: 10px 60px 40px 60px;
  min-height: 800px;
  height: calc(100vh - 80px);
  max-height: calc(100vh - 80px);
  overflow-y: scroll;
  flex: 1;
  background-size: cover;
}

.title {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.title h1 {
  color: var(--primary-color);
  margin-bottom: 10px;
  font-size: 40px;
  font-family: "PoiterOne";
  font-weight: 900;
}

.title p {
  color: white;
  font-size: 15px;
}

.inputField {
  height: 40px;
  width: 100px;
  background-color: pink;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 15px;
}
