@font-face {
  font-family: "MontserratAlt";
  font-weight: "normal";
  src: url("./MontserratAlternates-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratAlt";
  font-weight: 600;
  src: url("./MontserratAlternates-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratAlt";
  font-weight: 700;
  src: url("./MontserratAlternates-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratAlt";
  font-weight: 300;
  src: url("./MontserratAlternates-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratAlt";
  font-weight: 400;
  src: url("./MontserratAlternates-Light.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratAlt";
  font-weight: 800;
  src: url("./MontserratAlternates-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "PoiterOne";
  font-weight: 400;
  src: url("./PoiretOne-Regular.ttf") format("truetype");
}
